/* You can add global styles to this file, and also import other style files */
/* Apply Bitcount Grid Double font */ 
.bitcount-text { 
    font-family: "Bitcount Grid Double", sans-serif; 
} 

/* Apply National Park font */ 
.national-text { 
    font-family: "National Park", sans-serif; 
} 

/* Example: set default font for body */ 

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* prevents scrolling */
}

main {
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* ensures each page fits screen */
}
